---
import { CloseIcon } from "../../icons";
---

<div class="filter-header" id="filter-header" style="display: none;">
	<span class="filter-header__label">Filtered by:</span>
	<span class="filter-header__tag" id="filter-tag-name"></span>
	<a
		href="/blog"
		class="filter-header__clear"
		aria-label="Clear filter"
		id="filter-clear"
	>
		<CloseIcon width={14} height={14} />
	</a>
</div>
