app = "fraugsleeves-dev-staging"
primary_region = "dfw"
kill_signal = "SIGINT"
kill_timeout = "5m0s"

[experimental]
	auto_rollback = true

	[experimental.attached]
		secrets = { }

[http_service]
	internal_port = 80
	force_https = true
	auto_stop_machines = "stop"
	auto_start_machines = true
	min_machines_running = 0
	processes = [ "app" ]

[[services]]
	internal_port = 80
	processes = ["app"]
	protocol = "tcp"

	[services.concurrency]
		hard_limit = 25
		soft_limit = 20
		type = "connections"

	[[services.ports]]
		handlers = [ "http" ]
		port = 80

	[[services.ports]]
		handlers = [ "tls", "http" ]
		port = 443

	[[services.tcp_checks]]
		grace_period = "1s"
		interval = "15s"
		timeout = "2s"


[[vm]]
	memory = "512mb"
	cpu_kind = "shared"
	cpus = 1
