---
import TableOfContents from "./toc.astro";

const { headings } = Astro.props;
---

<aside class="toc-sidebar">
	<div class="toc-wrapper">
		<h2 class="toc-title">Table of Contents</h2>
		<TableOfContents headings={headings} />
	</div>
</aside>
