---
import TableOfContents from "./toc.astro";

const { headings } = Astro.props;
---

<aside class="blog-layout__sidebar">
	<div class="toc">
		<h2 class="toc__title">Table of Contents</h2>
		<TableOfContents headings={headings} />
	</div>
</aside>
