---
import { DesktopSearch } from "../search";
import { isActive } from "./isActive";

interface Props {
	currentPath: string;
	navItems: {
		href: string;
		exact: boolean;
		label: string;
	}[];
}

const { currentPath, navItems } = Astro.props;
---

<div class="toolbar__right toolbar__desktop">
	<div class="toolbar__links">
		{
			navItems.map((item) => (
				<a
					href={item.href}
					class:list={[
						"toolbar__link",
						{
							"toolbar__link--active": isActive(
								currentPath,
								item.href,
								item.exact,
							),
						},
					]}
				>
					{item.label}
				</a>
			))
		}
	</div>
	<DesktopSearch />
</div>
