---
import CloseIcon from "../../icons/close.svg";
import HamburgerIcon from "../../icons/hamburger.svg";

import Search from "../search/search.astro";
---

<div class="toolbar-mobile">
	<div class="mobile-search-wrapper">
		<Search />
	</div>
	<button
		class="hamburger-btn"
		id="hamburger-btn"
		type="button"
		aria-label="Open menu"
		aria-expanded="false"
	>
		<HamburgerIcon class="hamburger-icon" width={24} height={24} />
		<CloseIcon class="close-icon" width={24} height={24} />
	</button>
</div>
