---
import "../../styles/navigation.css";

import DesktopNavigation from "./desktopNavigation.astro";
import MobileNavigation from "./mobileNavigation.astro";
import MobileNavigationOverlay from "./mobileNavigationOverlay.astro";
import HamburgerMenu from "./HamburgerMenu";

import { NAVIGATION_ITEMS } from "../../constants";
import { LogoIcon } from "../../icons";

const currentPath = Astro.url.pathname;
---

<nav class="toolbar">
	<div class="toolbar-content">
		<a href="/" class="toolbar-logo" aria-label="Home">
			<LogoIcon class="logo-image" />
		</a>

		<MobileNavigation />
		<DesktopNavigation
			currentPath={currentPath}
			navItems={NAVIGATION_ITEMS}
		/>
	</div>
</nav>

<MobileNavigationOverlay
	currentPath={currentPath}
	navItems={NAVIGATION_ITEMS}
/>

<HamburgerMenu client:idle />
