---
import "../styles/404.css";

import NotFound from "../components/notFound.astro";

import { Standard } from "../layouts";
---

<Standard class="not-found">
	<main class="not-found-container">
		<NotFound />
	</main>
</Standard>
