---
import "../styles/blocks/index.css";

import NotFound from "../components/notFound.astro";

import { Standard } from "../layouts";
---

<Standard class="not-found">
	<main class="not-found">
		<NotFound />
	</main>
</Standard>
