---
import "../styles/404.css";

import Standard from "../layouts/standard.astro";
import NotFound from "../components/notFound.astro";
---

<Standard class="not-found">
	<div class="main-content">
		<main class="not-found-container">
			<NotFound />
		</main>
	</div>
</Standard>
