---
import "../styles/404.css";

import Error from "../components/error.astro";

import { Standard } from "../layouts";
---

<Standard class="not-found">
	<main class="not-found-container">
		<Error />
	</main>
</Standard>
