---
import DotLayout from '../layouts/dot.astro';
---
<DotLayout title="the zealot chronicles">
	<section class="about-content">
		<div class="contact-intro">
			<p>
				If you would like to contact me, feel free to click any of the icons on the right below my image.
				If you would like to send me an email fill out the forms below and I will respond as quickly as I can.
			</p>
		</div>
		<div class="about-grid">
			<form class="contact-form">
				<label for="name">Name</label>
				<input id="name" name="name" type="text" />

				<label for="email">Email</label>
				<input id="email" name="email" type="email" />

				<label for="message">Message</label>
				<textarea id="message" name="message" rows="6"></textarea>
			</form>

			<div class="profile-side">
				<img src="/gravatar.png" alt="Profile" class="profile-pic" />
				<div class="social-icons">
					<a href="#"><img src="/icons/mail.svg" alt="Email" /></a>
					<a href="#"><img src="/icons/linkedin.svg" alt="LinkedIn" /></a>
					<a href="#"><img src="/icons/github.svg" alt="GitHub" /></a>
					<a href="#"><img src="/icons/gitlab.svg" alt="GitLab" /></a>
				</div>
			</div>
		</div>
	</section>
</DotLayout>
