---
import { getCollection } from 'astro:content';
import NavigableLayout from '../layouts/navigable.astro';
import '../styles/tags.css';

// Get all blog posts and extract unique tags
const blogs = await getCollection('blog');
const allTags = blogs.flatMap(post => post.data.tags || []);
const uniqueTags = [...new Set(allTags)].sort();
---

<NavigableLayout title="Tags">
	<div class="tags-container">
		<h1 class="tags-title">Tags</h1>
		<div class="tags-list">
			{uniqueTags.map(tag => (
				<span class="tag">{tag}</span>
			))}
		</div>
		{uniqueTags.length === 0 && (
			<p class="no-tags">No tags found.</p>
		)}
	</div>
</NavigableLayout>
