---
import "../styles/blog-list.css";

import TagFilter from "../components/blogs/TagFilter.astro";

import { BlogPosts, BlogFilterHeader } from "../components/blogs";
import { Standard } from "../layouts";
---

<Standard>
	<meta slot="head" name="robots" content="noindex" />
	<div class="blog-container">
		<BlogFilterHeader />
		<BlogPosts />
	</div>
	<TagFilter />
</Standard>
