---
import "../styles/blog-list.css";

import { BlogPosts, BlogFilterHeader } from "../components/blogs";
import { Standard } from "../layouts";
---

<Standard>
	<meta slot="head" name="robots" content="noindex" />
	<div class="blog-container">
		<BlogFilterHeader />
		<BlogPosts />
	</div>
</Standard>

<script>
	import { initTagFilter } from "../scripts/tagFilters";

	if (document.readyState === "loading") {
		document.addEventListener("DOMContentLoaded", initTagFilter);
	} else {
		initTagFilter();
	}

	document.addEventListener("astro:page-load", initTagFilter);
	window.addEventListener("popstate", initTagFilter);
</script>
