---
import "../styles/blog-list.css";

import { BlogPosts, BlogFilterHeader } from "../components/blogs";
import { Searchable } from "../layouts";
---

<Searchable title="Blog">
	<div class="blog-container">
		<BlogFilterHeader />
		<BlogPosts />
	</div>
</Searchable>

<script>
	import { initTagFilter } from "../scripts/tagFilters";

	if (document.readyState === "loading") {
		document.addEventListener("DOMContentLoaded", initTagFilter);
	} else {
		initTagFilter();
	}

	document.addEventListener("astro:page-load", initTagFilter);
	window.addEventListener("popstate", initTagFilter);
</script>
