---
import "../styles/blog-list.css";

import { BlogPosts, BlogFilterHeader } from "../components/blogs";
import TagFilterIsland from "../components/blogs/TagFilterIsland";
import { Standard } from "../layouts";
---

<Standard>
	<meta slot="head" name="robots" content="noindex" />
	<div class="blog-container">
		<BlogFilterHeader />
		<BlogPosts />
	</div>
	<TagFilterIsland client:load />
</Standard>
