---
import '../styles/global.css';

import { getCollection } from 'astro:content';
import NavigableLayout from '../layouts/navigable.astro';

const wayfinders = (await getCollection('wayfinders')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const blogs = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---
<NavigableLayout title="fraugsleeves.dev">
	<div class="wayfinders">
		<ul>
			{wayfinders.map(post => (
				<li>
					<a href={`/wayfinders/${post.id}`}>{post.data.title}</a>
				</li>
			))}
		</ul>
	</div>
	<div class="blogs">
		<ul>
			{blogs.map(post => (
				<li>
					<a href={`/blog/${post.id}`}>{post.data.title}</a>
				</li>
			))}
		</ul>
	</div>
</NavigableLayout>
