---
import "../styles/blocks/index.css";

import { RecentBlogs } from "../components/blogs";
import { RecentWayfinders } from "../components/wayfinders";
import { DEFAULT_TITLE, SOCIAL_LINKS } from "../constants";
import { Searchable } from "../layouts/";
---

<Searchable title={DEFAULT_TITLE}>
	<div class="container">
		<section class="welcome">
			<h1 class="welcome__title">Welcome!</h1>
			<p class="welcome__text">
				To an exposition of wayfinding within software development
			</p>
			<div class="welcome__social">
				{
					SOCIAL_LINKS.map((link) => (
						<a
							href={link.href}
							class="social-link"
							aria-label={link.label}
							target="_blank"
							rel="noopener noreferrer"
						>
							<link.icon width={24} height={24} />
						</a>
					))
				}
			</div>
		</section>

		<RecentWayfinders />
		<RecentBlogs />
	</div>
</Searchable>
