---
import "../styles/home.css";

import RecentBlogs from "../components/blogs/recentBlogs.astro";
import RecentWayfinders from "../components/wayfinders/recentWayfinders.astro";
import Searchable from "../layouts/searchable.astro";

import { DEFAULT_TITLE, SOCIAL_LINKS } from "../constants";
---

<Searchable title={DEFAULT_TITLE}>
	<div class="index-container">
		<section class="welcome-section">
			<h1 class="welcome-title">Welcome!</h1>
			<p class="welcome-text">
				To an exposition of wayfinding within software development
			</p>
			<div class="social-links">
				{
					SOCIAL_LINKS.map((link) => (
						<a
							href={link.href}
							class="social-link"
							aria-label={link.label}
							target="_blank"
							rel="noopener noreferrer"
						>
							<link.icon width={24} height={24} />
						</a>
					))
				}
			</div>
		</section>

		<RecentWayfinders />
		<RecentBlogs />
	</div>
</Searchable>
