---
import "../styles/tags.css";

import NavigableLayout from "../layouts/navigable.astro";

import { getUniqueOccurences } from "../components/tags/getTags";

const uniqueTags = await getUniqueOccurences();
---

<NavigableLayout title="Tags">
	<div class="tags-container">
		<h1 class="tags-title">Tags</h1>
		<div class="tags-list">
			{
				Object.keys(uniqueTags).map((tag) => (
					<a
						href={`/blog?tag=${encodeURIComponent(tag)}`}
						class="tag-link"
					>
						<span class="tag-name">{tag}</span>
						<span class="tag-count">{uniqueTags[tag]}</span>
					</a>
				))
			}
		</div>
		{uniqueTags.length === 0 && <p class="no-tags">No tags found.</p>}
	</div>
</NavigableLayout>
