---
import { getCollection } from "astro:content";
import NavigableLayout from "../layouts/navigable.astro";

import "../styles/tags.css";

const blogs = await getCollection("blog");
const allTags = blogs.flatMap((post) => post.data.tags || []);

// Count occurrences of each tag
const tagCounts = allTags.reduce(
	(acc, tag) => {
		acc[tag] = (acc[tag] || 0) + 1;
		return acc;
	},
	{} as Record<string, number>,
);

const uniqueTags = Object.keys(tagCounts).sort();
---

<NavigableLayout title="Tags">
	<div class="tags-container">
		<h1 class="tags-title">Tags</h1>
		<div class="tags-list">
			{
				uniqueTags.map((tag) => (
					<a
						href={`/blog?tag=${encodeURIComponent(tag)}`}
						class="tag-link"
					>
						<span class="tag-name">{tag}</span>
						<span class="tag-count">{tagCounts[tag]}</span>
					</a>
				))
			}
		</div>
		{uniqueTags.length === 0 && <p class="no-tags">No tags found.</p>}
	</div>
</NavigableLayout>
