---
import "../styles/wayfinders-list.css";

import { Searchable } from "../layouts";
import { WayfindersGrid } from "../components/wayfinders";
---

<Searchable title="Wayfinders">
	<div class="wayfinders-container">
		<header class="wayfinders-header">
			<h1 class="wayfinders-title">Wayfinders</h1>
			<p class="wayfinders-quote">
				Wayfinding encompasses all of the ways in which people orient
				themselves in physical space and navigate from place to place.
			</p>
			<p class="wayfinders-description">
				This articles serve to provide avenues for exploring complex
				topics across a number of posts. They give you the flexibility
				to choose the order in which you want to explore a topic, while
				providing some guidelines for best practices for most. They rely
				heavily on relationships between articles.
			</p>
		</header>

		<WayfindersGrid />
	</div>
</Searchable>
