---
interface Props {
	title: string;
	description: string;
	date: Date;
	href: string;
}

const { title, description, date, href } = Astro.props;

import { formatDate } from "../formatDate";
---

<a href={href} class="card">
	<div class="card-content">
		<h3 class="card-title">{title}</h3>
		<p class="card-description">{description}</p>
		<span class="card-date">{formatDate(date)}</span>
	</div>
</a>
