---
import { formatText } from "../formatText";

interface Props {
	title: string;
	date: Date;
	description: string;
	minutesRead: number;
	author: string;
}

const { title, date, description, minutesRead, author } = Astro.props;
---

<header class="post-header-fixed">
	<div class="post-header-box">
		<div class="post-header-content">
			<div class="post-header-main">
				<h1
					class="post-title"
					data-pagefind-meta="title"
					set:html={formatText(title)}
				/>
				<div class="post-meta">
					<span class="reading-time">{minutesRead}</span>
				</div>
			</div>
			<div class="post-header-collapsible">
				<p class="post-summary">{description}</p>
				{
					author && (
						<p class="post-author-line">
							<strong>Author:</strong> {author}
						</p>
					)
				}
				<span class="post-header-date">
					<strong>Published:</strong> {new Date(date).toDateString()}
				</span>
			</div>
		</div>
	</div>
</header>
