---
import { formatText } from "../formatText";

interface Props {
	title: string;
	date: Date;
	description: string;
	minutesRead: number;
	author: string;
}

const { title, date, description, minutesRead, author } = Astro.props;
---

<header class="post-header">
	<div class="post-header__box">
		<div class="post-header__content">
			<div class="post-header__main">
				<h1
					class="post-header__title post-header__title--small"
					data-pagefind-meta="title"
					set:html={formatText(title)}
				/>
				<div class="post-header__meta">
					<span class="reading-time">{minutesRead}</span>
				</div>
			</div>
			<div class="post-header__collapsible">
				<p class="post-header__summary">{description}</p>
				{
					author && (
						<p class="post-header__author-line">
							<strong>Author:</strong> {author}
						</p>
					)
				}
				<span class="post-header__date">
					<strong>Published:</strong>
					{new Date(date).toDateString()}
				</span>
			</div>
		</div>
	</div>
</header>
