---
const currentYear = new Date().getFullYear();

import { DEFAULT_TITLE, SOCIAL_LINKS } from "../constants";
---

<footer class="footer">
	<div class="footer__content">
		<div class="footer__copyright">
			<p>© {currentYear} {DEFAULT_TITLE}</p>
		</div>
		<div class="footer__social">
			{
				SOCIAL_LINKS.map((link) => (
					<a
						href={link.href}
						class="social-link social-link--footer"
						aria-label={link.label}
						target="_blank"
						rel="noopener noreferrer"
					>
						<link.icon width={20} height={20} />
					</a>
				))
			}
		</div>
	</div>
</footer>
