---
import { LogoIcon } from "../icons";
---

<div class="not-found__image">
	<LogoIcon />
</div>
<div class="not-found__content">
	<h1 class="not-found__title">404</h1>
	<p class="not-found__message">This is not the page you're looking for.</p>
	<div class="not-found__actions">
		<a href="/" class="not-found__link not-found__link--primary"> Take me home </a>
		<a href="/blog" class="not-found__link not-found__link--secondary"> Browse posts </a>
	</div>
	<div class="not-found__search">
		<p class="not-found__hint">
			If you were looking for something specific, try searching:
		</p>
		<form action="/blog" method="get" class="not-found__search-form">
			<input
				type="text"
				name="q"
				placeholder="Search..."
				class="not-found__search-input"
				aria-label="Search"
			/>
			<button type="submit" class="not-found__search-button">
				Search
			</button>
		</form>
	</div>
</div>
