---
import "../../styles/search.css";

import DesktopSearchIsland from "./DesktopSearchIsland";
---

<div id="search-container" class="search-container">
	<button
		id="search-toggle"
		class="search-toggle"
		type="button"
		aria-label="Open search"
		aria-expanded="false"
	>
		<span style="display: inline-flex; pointer-events: none;">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				height="18"
				viewBox="0 0 24 24"
				fill="none"
				stroke="currentColor"
				stroke-width="2"
				stroke-linecap="round"
				stroke-linejoin="round"
			>
				<circle cx="11" cy="11" r="8"></circle>
				<line x1="21" y1="21" x2="16.65" y2="16.65"></line>
			</svg>
		</span>
	</button>
	<DesktopSearchIsland client:media="(min-width: 641px)" />
</div>
