---
import "../../styles/search.css";

import { SearchIcon } from "../../icons";
import MobileOverlay from "./mobileOverlay.astro";
---

<button
	class="search-toggle"
	type="button"
	aria-label="Open search"
	id="mobile-search-toggle"
>
	<SearchIcon width={18} height={18} />
</button>

<MobileOverlay />

<script>
	import { initMobileSearch } from "../../scripts/mobileSearch";

	if (document.readyState === "loading") {
		document.addEventListener("DOMContentLoaded", initMobileSearch);
	} else {
		initMobileSearch();
	}
</script>
