---
import { CloseIcon, SearchIcon } from "../../icons";
---

<div class="search-overlay" id="search-overlay">
	<div class="search-overlay__container">
		<div class="search-overlay__header">
			<h1 class="search-overlay__title">Search</h1>
			<button
				class="search-overlay__close"
				id="search-overlay-close"
				type="button"
				aria-label="Close search"
			>
				<CloseIcon width={24} height={24} />
			</button>
		</div>
		<div class="search-overlay__form">
			<div class="search-overlay__input-wrapper">
				<SearchIcon
					class="search-overlay__icon"
					width={20}
					height={20}
				/>
				<input
					type="text"
					class="search-overlay__input"
					id="search-overlay-input"
					placeholder="What are you looking for?"
					autocomplete="off"
				/>
			</div>
		</div>
		<div class="search-overlay__results" id="search-overlay-results"></div>
		<div class="search-overlay__hint">
			<p>
				Try searching for topics like "golang", "microservices", or
				"context"
			</p>
		</div>
	</div>
</div>
