---
import SearchIcon from "../../icons/search.svg";
import CloseIcon from "../../icons/close.svg";
---

<div class="search-overlay" id="search-overlay">
	<div class="search-overlay-container">
		<div class="search-overlay-header">
			<h1 class="search-overlay-title">Search</h1>
			<button
				class="search-overlay-close"
				id="search-overlay-close"
				type="button"
				aria-label="Close search"
			>
				<CloseIcon width={24} height={24} />
			</button>
		</div>
		<div class="search-overlay-form">
			<div class="search-overlay-input-wrapper">
				<SearchIcon
					class="search-overlay-icon"
					width={20}
					height={20}
				/>
				<input
					type="text"
					class="search-overlay-input"
					id="search-overlay-input"
					placeholder="What are you looking for?"
					autocomplete="off"
				/>
			</div>
		</div>
		<div class="search-overlay-results" id="search-overlay-results"></div>
		<div class="search-overlay-hint">
			<p>
				Try searching for topics like "golang", "microservices", or
				"context"
			</p>
		</div>
	</div>
</div>
