---
import { CloseIcon, SearchIcon } from "../../icons";
---

<div class="search" id="search-container">
	<button
		class="search__toggle"
		type="button"
		aria-label="Open search"
		aria-expanded="false"
		id="search-toggle"
	>
		<SearchIcon width={18} height={18} />
	</button>

	<div class="search__input-wrapper search--desktop" id="search-input-wrapper">
		<SearchIcon class="search__input-icon" width={16} height={16} />
		<input
			type="text"
			class="search__input"
			id="search-input"
			placeholder="Search..."
			autocomplete="off"
		/>
		<button
			class="search__clear"
			id="search-clear"
			type="button"
			aria-label="Close search"
		>
			<CloseIcon width={16} height={16} />
		</button>
	</div>

	<div class="search__dropdown search--desktop" id="search-dropdown">
		<div class="search__results" id="search-results"></div>
	</div>
</div>
