---
import Footer from "../components/footer.astro";

import { Navigation } from "../components/navigation";

const { class: className } = Astro.props;
---

<body class={className}>
	<Navigation />
	<div class="main-content">
		<slot />
	</div>
	<Footer />
</body>
<link rel="sitemap" href="/sitemap-index.xml" />
