---
import NavigableLayout from './navigable.astro';
const { title = "the zealot chronicles" } = Astro.props;
---

<NavigableLayout title={title} class="dot-layout">
	<link slot="head" rel="stylesheet" href="/styles/global.css" />
	<div class="border-frame">
		<header>
			<h1 class="site-title">{title}</h1>
			<p class="site-subtitle">an exploration in wayfinding within software development</p>
		</header>

		<main>
			<slot />
		</main>
	</div>
</NavigableLayout>
