---
import Navigation from '../components/navigation.astro';
import Footer from '../components/footer.astro';
const { title = "the zealot chronicles" } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>{title}</title>
		<link rel="stylesheet" href="/styles/global.css" />
	</head>
	<body class="dot-layout">
		<Navigation />
		<div class="border-frame">
			<header>
				<h1 class="site-title">{title}</h1>
				<p class="site-subtitle">an exploration in wayfinding within software development</p>
			</header>

			<main>
				<slot />
			</main>
		</div>
		<Footer />
	</body>
</html>
