---
import "../styles/upcoming.css";

import UpcomingBlog from "../components/blogs/upcomingBlog.astro";
import Standard from "./standard.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<Standard>
	<div class="main-content">
		<main class="upcoming-container">
			<UpcomingBlog title={title} />
		</main>
	</div>
</Standard>
