---
import "../styles/upcoming.css";

import UpcomingBlog from "../components/blogs/upcomingBlog.astro";
import Standard from "./standard.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<Standard>
	<main class="upcoming-container">
		<UpcomingBlog title={title} />
	</main>
</Standard>
