name: Build

permissions:
    contents: read

on:
    push:
        branches:
            - "*"
    pull_request:
        branches:
            - main

jobs:
    build:
        name: Astro Build
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v6

            - name: Setup Node.js
              uses: actions/setup-node@v6
              with:
                  node-version-file: .nvmrc
                  cache: npm

            - name: Configure NPM
              run: |
                  echo "@iveelsm:registry=https://npm.pkg.github.com" >> .npmrc
                  echo "//npm.pkg.github.com/:_authToken=${{ secrets.GITHUB_TOKEN }}" >> .npmrc

            - name: Install dependencies
              run: npm ci

            - name: Build
              run: npm run build

            - name: Upload build artifact
              uses: actions/upload-artifact@v6
              with:
                  name: dist
                  path: dist/
                  retention-days: 1

    lint:
        name: Lint
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v6

            - name: Setup Node.js
              uses: actions/setup-node@v6
              with:
                  node-version-file: .nvmrc
                  cache: npm

            - name: Configure NPM
              run: |
                  echo "@iveelsm:registry=https://npm.pkg.github.com" >> .npmrc
                  echo "//npm.pkg.github.com/:_authToken=${{ secrets.GITHUB_TOKEN }}" >> .npmrc

            - name: Install dependencies
              run: npm ci

            - name: Lint
              run: npm run lint

    test:
        name: Test
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v6

            - name: Setup Node.js
              uses: actions/setup-node@v6
              with:
                  node-version-file: .nvmrc
                  cache: npm

            - name: Configure NPM
              run: |
                  echo "@iveelsm:registry=https://npm.pkg.github.com" >> .npmrc
                  echo "//npm.pkg.github.com/:_authToken=${{ secrets.GITHUB_TOKEN }}" >> .npmrc

            - name: Install dependencies
              run: npm ci

            - name: Test
              run: npm run test

    e2e:
        name: End to End Tests
        runs-on: ubuntu-latest
        needs: build
        container:
            image: mcr.microsoft.com/playwright:v1.58.2-noble
            options: --user 1001

        steps:
            - name: Checkout
              uses: actions/checkout@v6

            - name: Download build artifact
              uses: actions/download-artifact@v7
              with:
                  name: dist
                  path: dist/
            - name: Install dependencies
              run: npm ci

            - name: Run playwright tests
              run: npm run test:e2e

            - name: Upload playwright report
              uses: actions/upload-artifact@v6
              if: ${{ !cancelled() }}
              with:
                  name: playwright-report
                  path: playwright-report/
                  retention-days: 7
