name: Fly Deploy Staging

permissions:
    contents: read
    packages: read

on:
    pull_request:
        types:
            - opened
            - synchronize
            - reopened

jobs:
    deploy:
        name: Deploy to Staging
        runs-on: ubuntu-latest
        concurrency: deploy-staging-group
        if: github.actor == 'dependabot[bot]' || github.actor == 'iveelsm'
        steps:
            - name: Checkout
              uses: actions/checkout@v6

            - name: Setup Fly
              uses: superfly/flyctl-actions/setup-flyctl@master

            - name: Deploy to Staging
              run: flyctl deploy --no-cache --remote-only --config fly.staging.toml --build-arg SITE_URL=https://staging.fraugsleeves.dev --build-secret NPM_TOKEN=${{ secrets.GITHUB_TOKEN }}
              env:
                  FLY_API_TOKEN: ${{ secrets.FLY_STAGING_API_TOKEN }}

            - name: Purge Cloudflare Cache
              run: |
                  curl -X POST "https://api.cloudflare.com/client/v4/zones/${{ secrets.CLOUDFLARE_ZONE_ID }}/purge_cache" \
                    -H "Authorization: Bearer ${{ secrets.CLOUDFLARE_API_TOKEN }}" \
                    -H "Content-Type: application/json" \
                    --data '{"hosts": ["staging.fraugsleeves.dev"]}'
