name: Run Lighthouse Validation

permissions:
    contents: read
    packages: read

on:
    push:
        branches:
            - main

jobs:
    lighthouse:
        name: Lighthouse
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v6

            - name: Setup Node.js
              uses: actions/setup-node@v6
              with:
                  node-version-file: .nvmrc
                  cache: npm

            - name: Configure NPM
              run: |
                  echo "@iveelsm:registry=https://npm.pkg.github.com" >> .npmrc
                  echo "//npm.pkg.github.com/:_authToken=${{ secrets.GITHUB_TOKEN }}" >> .npmrc

            - name: Install dependencies
              run: npm ci

            - name: Run Lighthouse CI
              run: npm run lighthouse
              env:
                  LHCI_GITHUB_APP_TOKEN: ${{ secrets.LHCI_GITHUB_APP_TOKEN }}
